{% extends "homepage/base.html" %}
{% load static %}
{% block nav_block %}

<style>
  .container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
.container-4 input#search{
  width: 300px;
  height: 35px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #111;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: lightgrey;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    height: 35px;
    margin-left: -50px;
  }
 
  .container-4:hover button.icon:hover{
    background: grey;
  }
</style>
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="navbar-brand" style="color: white" href="{% url 'homepage:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="addp" style="color: white; margin-top: 2px;" href="#" data-toggle="modal" data-target="#myModal">Add Post</a>
  </li>
</ul><!--   #17a2b8;  -->

  <div  method="GET" action="." style="margin-left: 20px; margin-right: 20px;" class="form-inline ml-auto">
    <form class=" my-2 my-lg-0" style="margin-right: -90px;" >
      <div class="box">
        <div class="container-4">
          <input style="width: 200px; height: 35px;" id="search" type="text" placeholder="Search" aria-label="Search" name="homesearch" />
          <button style="height: 35px;" class="icon" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
  
    </form>
  
    
  <li class="nav-item dropdown ml-auto" style="margin-top: -2rem;">
    <a class="nav-link dropdown-toggle mx-3" data-toggle="dropdown" 
    href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <img src="/media/{{piclink}}" 
    class="ml-auto" style="position: absolute; margin-left: 0px; width: 60%; height: 50%; border-radius: 10px;" >
      </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'homepage:myposts' %}">My Post</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'homepage:profile' %}">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'loginapp:user_logout' %}">Logout</a>
      
    </div>
  </li>
</div>
{% endblock %}
{% block body_block %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{editform.as_p}}
    <input type="submit">
</form>

{% endblock %}