{% extends "homepage/base.html" %}
{% load static %}
{% block nav_block %}
<style>
  .container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
.container-4 input#search{
  width: 300px;
  height: 35px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #111;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: lightgrey;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    height: 35px;
    margin-left: -50px;
  }
 
  .container-4:hover button.icon:hover{
    background: grey;
  }
</style>
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="navbar-brand" style="color: white" href="{% url 'homepage:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="addp" style="color: white; margin-top: 2px;" href="#" data-toggle="modal" data-target="#myModal">Add Post</a>
  </li>
</ul><!--   #17a2b8;  -->

  <div  method="GET" action="." style="margin-left: 20px; margin-right: 20px;" class="form-inline ml-auto">
    <form class=" my-2 my-lg-0" style="margin-right: -90px;" >
      <div class="box">
        <div class="container-4">
          <input style="width: 200px; height: 35px;" id="search" type="text" placeholder="Search" aria-label="Search" name="homesearch" />
          <button style="height: 35px;" class="icon" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
  
    </form>
  
    
  <li class="nav-item dropdown ml-auto" style="margin-top: -2rem;">
    <a class="nav-link dropdown-toggle mx-3" data-toggle="dropdown" 
    href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <img src="/media/{{piclink}}" 
    class="ml-auto" style="position: absolute; margin-left: 0px; width: 60%; height: 50%; border-radius: 10px;" >
      </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'homepage:myposts' %}">My Post</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'homepage:profile' %}">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'loginapp:user_logout' %}">Logout</a>
      
    </div>
  </li>
</div>
  

{% endblock %}

{% block body_block %}


<style>
.navbar-brand:hover{
  color: black;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  float: left; 
  margin-left: 30px;
  margin-top:20px;
  width: 225px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.1), -5px -5px 3px 1px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -10px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


</style>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      
      <div class="modal-header" style="background-color: #17a2b8;">
        <center><h4 class="modal-title">Add Post</h4></center>
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
      
      
      <div class="modal-body">
        <form method="POST" action="{% url 'homepage:addpost' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          
          <input type="submit" value="Submit" >
        </form>
      </div>
      
      <div class="modal-footer" style="background-color: #17a2b8;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

</div>


<script>

  $(function(){
      $('.show_product').on('click', function (e) {
          e.preventDefault();
          let product_id = $(this).attr('id');

          $.ajax({
              url:'/homepage/home/',
              type:'POST',
              data: $('#form_have_product_'+product_id).serialize(),
              success:function(response){
                  console.log(response);
                  $('.show_product').trigger("reset");
                  openModal(response);
              },
              error:function(){
                  console.log('something went wrong here');
              },
          });
      });
  });
 
  function openModal(product_data){
    $('#product_name').text(product_data.p_name);
    $('#desc').text(product_data.desc);
    $('#datetime').text(product_data.dt);
    $('#by').text("By "+product_data.by);
    $('#type').text(product_data.tp);
    $('#pic1').attr('src','/media/'+product_data.pic1)
    $('#pic2').attr('src','/media/'+product_data.pic2)
  };

</script>


<style>
    .modal-dialog-center {
    margin-top: 10%;
}

</style>

<div class="modal animated fade" tabindex="-1" id="myModal1">
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-body" style="height:382px;">
        <div class="row">
          <div class="col-lg-5">
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img id="pic1" style="height: 350px;" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img id="pic2" style="height: 350px" class="d-block w-100">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-lg-6" style="padding-left: 10px; margin-top: 1rem; word-wrap: break-word;">
            <center><h2 id="product_name" style="white-space: initial;"></h2></center>
            <center><p id="type"></p> </center>
            <center><p style="margin-top: -2px;" id="by"></p></center>
            <div id="description1" class="description1" 
            style="color: black; background-color: #fafafa; overflow-y: auto;width: 430px; height: 150px; word-wrap: break-word;" >
                <p id="desc" style="white-space: initial;"></p>
            </div>
            <div style="position: absolute;
            bottom: 5px;
            color: gray;
            right: 5px;
            margin-bottom: -18px; margin-right: -60px; padding-right: 0px;" id="datetime"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div style="position: absolute;
top: 62px;
left: 6px;
width: 20%;
height: 89%;
background-color: lightgrey;
border-radius: 10px;
padding-top: 20px;
position: fixed;">

<p style="margin-left: 40%; zoom: 1.3;">Filter </p>
<form  method="GET" action="." style="margin-left: 10%;">
  {% csrf_token %}
  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox"  class="custom-control-input" id="customCheck1" name="book" >
    <label class="custom-control-label" for="customCheck1" style="zoom: 1.2;">Book</label>
  </div>
  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox"  class="custom-control-input" id="customCheck2" name="stationary">
    <label class="custom-control-label" for="customCheck2" style="zoom: 1.2;">Stationary</label>
  </div>
  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox"  class="custom-control-input" id="customCheck3" name="others">
    <label class="custom-control-label" for="customCheck3" style="zoom: 1.2;">Others</label>
  </div>
  <input type="submit" style="margin-left: 30%;" class="btn btn-info" value="Apply">
</form>

<p style="margin-left: 37%; zoom: 1.3; margin-top: 35px;">Sort By </p>
<form method="GET" action="." style="margin-left: 10%;">
  {% csrf_token %}
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="customRadio1" name="byitemname">
    <label class="custom-control-label" for="customRadio1" style="zoom: 1.2; margin-bottom: 12px;">Item name</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="customRadio2" name="timeadded">
    <label class="custom-control-label" for="customRadio2" style="zoom: 1.2; margin-bottom: 18px;">Time added</label>
  </div>
  <input type="submit" style="margin-left: 30%;" class="btn btn-info" value="Apply">
</form>

</div>


<div class="example" style="top: 59px;
right: 6px;
width: 78.3%;
height: 91%;
border-radius: 11px;
padding-right: 5px;
padding-bottom: 0px;
position: fixed;
overflow:auto;">

  {% for i in posts%}
  <!--<a href="#" id="{{i.id}}" data-id="{{i.id}}" 
  style="text-decoration: none; color: inherit;" data-toggle="modal" 
  data-target="#myModal1" class="show_product" >

    <div class="box" style="display: block; 
    width: 24%; 
    height: 60%;
    float: left; 
    padding-top: 0px; 
    margin-left: 0; 
    margin-right: 1.002%; 
    margin-bottom: 1%; 
    background-color: lightgrey; 
    border-radius: 10px;
    border:solid 2px lightgrey;
    position: relative;
    ">
      <img src="/media/{{i.item_pic1}}" class="card-img-top" style="margin-left: 0px; width: 100%; height: 75%; border-radius: 10px 10px 0px 0px;" >
      
      <div style="word-wrap: break-word;"><center><p style="margin-top:10px; font-size: larger;"> {{i.item_name}}</p></center>
        
      </div>
      <form name="form" action="#" id="form_have_product_{{i.id}}" method="POST">
        {% csrf_token %}
        <input name="id" id="product_id_submit" type="text" value="{{i.id}}" hidden="true"/>
      </form>
    </div>
</a>-->


<a href="#" id="{{i.id}}" data-id="{{i.id}}" 
style="text-decoration: none; color: inherit;" data-toggle="modal" 
data-target="#myModal1" class="show_product" >

  
  <div class="card 1" >
    <div class="card_image" style="height: 90%;"> <img src="/media/{{i.item_pic1}}" /> </div>
    <div class="card_title title-white" style="word-wrap: break-word;">
      <p style="color: black; font-size: 15px;" style="white-space: initial;">{{i.item_name|slice:"0:20"}}</p>
    </div>
    <form name="form" action="#" id="form_have_product_{{i.id}}" method="POST">
      {% csrf_token %}
      <input name="id" id="product_id_submit" type="text" value="{{i.id}}" hidden="true"/>
    </form>
  </div>
  
  </a>

{% endfor%}
</div>
{% endblock %}