
<!DOCTYPE html>

<html lang="en">
<head>
	<title>User Profile</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link href="../../static/user_profile/img/favicon.ico" rel="shortcut icon"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">
	<link rel="stylesheet" href="../../static/user_profile/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../static/user_profile/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../static/user_profile/css/flaticon.css"/>
	<link rel="stylesheet" href="../../static/user_profile/css/owl.carousel.css"/>
	<link rel="stylesheet" href="../../static/user_profile/css/magnific-popup.css"/>
	<link rel="stylesheet" href="../../static/user_profile/css/style.css"/>

</head>
<body>
	

	<nav class="navbar navbar-expand-sm fixed-top" style="background-color: #285163;">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="navbar-brand" style="color: white" href="{% url 'homepage:home' %}">Home</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" id="addp" style="color: white; margin-top: 2px;" href="{% url 'user_profile:edit_profile' %}">Edit profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="addp" style="color: white; margin-top: 2px;" href="{% url 'user_profile:change_password' %}">Change Password</a>
		  </li>
	  </ul><!--   #17a2b8;  -->
	  
		
		  
		<li class="nav-item dropdown ml-auto" style="margin-top: -2rem;">
		  <a class="nav-link dropdown-toggle mx-3" data-toggle="dropdown" 
		  href="#" role="button" aria-haspopup="true" aria-expanded="false">
		  <img src="/media/{{piclink}}" 
		  class="ml-auto" style="position: absolute; margin-left: 0px; width: 60%; height: 50%; border-radius: 10px;" >
			</a>
		  <div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'homepage:myposts' %}">My Post</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'loginapp:user_logout' %}">Logout</a>
			
		  </div>
		</li>
	 
	  </nav>
	<div id="preloder">
		<div class="loader"></div>
	</div>


    <section class="hero-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-6">
							<div class="hero-text">
								<h2 style="font-size:90px; ">{{ user }}</h2>
								</div>
							<div class="hero-info" style="width: 100%;">
								<h2>General Info</h2>
								<ul>
									<li><span>First Name</span>{{ user.first_name }}</li>
									<li><span>Last Name</span>{{ user.last_name }}</li>
									<li><span>E-mail</span>{{ user.email }}</li>

									<li><span>Phone </span>{{ phone_number }}</li>
									<li><span>Portfolio site </span>{{ portfolio_site }}</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<figure class="hero-image">
								<img style="border-radius: 50%; 
								width:400px;height:400px; margin-left: 120px;" src="../../media/{{ profile_picture }}" alt="5">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="../../static/user_profile/js/jquery-2.1.4.min.js"></script>
	<script src="../../static/user_profile/js/bootstrap.min.js"></script>
	<script src="../../static/user_profile/js/owl.carousel.min.js"></script>
	<script src="../../static/user_profile/js/magnific-popup.min.js"></script>
	<script src="../../static/user_profile/js/circle-progress.min.js"></script>
	<script src="../../static/user_profile/js/main.js"></script>
</body>
</html>