{% extends "loginapp/base.html" %}
{% block nav_block %}
<ul class="nav navbar-nav">
  <li><a class="navbar-link" href="{% url 'loginapp:register' %}">Register</a></li>  
  <li><a class="navbar-link" href="{% url 'loginapp:user_login' %}">Login</a></li>
</ul>
{% endblock %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Book Sharing Portal</h1>
    <h2>Register or Login if you'd like to use book sharing portal</h2>
  </div>
</div>
{% endblock %}